.hometab{
  font-size: 1.2rem;
  line-height: 2.25rem;
  border-bottom-width: 4px;
  border-radius: 0.125rem;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.7s ease;
}
.post-placeholder{
  width : 100%;
  background : transparent; 
  padding: 1rem;
  resize:none; 
  /* height:60%;  */
}
.post-placeholder::placeholder{
  color:rgb(139, 139, 139);
  filter:opacity(.65);
  font-size: 20px;
}
.liked{
  color: #f33f5e;
  /* font-size: 28px; */
}
.Confession{
  border: 2px solid #A31A3E;
  color: #A31A3E;
}
.Question{
border: 2px solid #A85387;
  color: #A85387;
}
.Crush{
  border: 2px solid #F78EA7;
  color: #F78EA7;
}
.DM{
  border: 2px solid #299EF3;
  color: #299EF3;
}
.Advice{
  border: 2px solid #7CB45B;
  color: #7CB45B;
}
.Cruise{
  border: 2px solid #FF6B6B;
  color: #FF6B6B;
}
.Talk{
  border: 2px solid #FFC200;
  color: #FFC200;
}
.Others{
  border: 2px solid #4D3580;
  color: #4D3580;
}

.bQuestion{
  background-color: rgba(168, 83, 135, 0.2);
}
.bConfession{
  background-color: rgba(163, 26, 62, 0.2);
}
.bCrush{
  background-color: rgba(247, 142, 167, 0.2);
}
.bDM{
  background-color: rgba(41, 158, 243, 0.2);
}
.bAdvice{
  background-color: rgba(124, 180, 91, 0.2);
}
.bCruise{
  background-color: rgba(255, 107, 107, 0.2);
}
.bTalk{
  background-color: rgba(255, 194, 0, 0.2);
}
.bOthers{
  background-color: rgba(77, 53, 128, 0.2);
}