.hometab{
  font-size: 1.2rem;
  line-height: 2.25rem;
  border-bottom-width: 4px;
  border-radius: 0.125rem;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.7s ease;
}
.post-placeholder{
  width : 100%;
  background : transparent; 
  padding: 1rem;
  resize:none; 
  height:60%; 
}
.post-placeholder:focus{
  height: 30%;
  margin: 2px 0;
  border:1px solid rgba(139, 139, 139, 0.5);
}
.post-placeholder::placeholder{
  color:rgb(139, 139, 139);
  filter:opacity(.65);
  font-size: 20px;
}
.liked{
  color: #f33f5e;
  font-size: 28px;
}
.Question{
  border: 1px solid #f91880;
  color: #f91880;
}
.Confession{
  border: 1px solid #1d9bf0;
  color: #1d9bf0;
}
.Crush{
  border: 1px solid #f01d1d;
  color: #f01d1d;
}
.DM{
  border: 1px solid #ffd635;
  color: #ffd635;
}
.Advice{
  border: 1px solid #349e48;
  color: #349e48;
}
.bQuestion{
  background-color: rgba(249, 24, 129, 0.2);
}
.bConfession{
  background-color: rgba(29, 156, 240, 0.2);
}
.bCrush{
  background-color: rgba(240, 29, 29, 0.2);
}
.bDM{
  background-color: rgba(255, 215, 53, 0.2);
}
.bAdvice{
  background-color: rgba(52, 158, 71, 0.2);
}