#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem 0 */
}
*{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  
}
*::-webkit-scrollbar {
  width: .3em;
  border-radius: 50%;
}

*::-webkit-scrollbar-track {
  background: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: linear-gradient(#ff0000, #ff004c, #0028ad);
  outline: 1px solid slategrey;
}
.spotlight::-webkit-scrollbar{
  height: .3em;
}
.spotlight::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff0000 10%, #ff004c 30%, #0028ad);

}
.note-hero{
  border-radius: 100%;
}
.dull_color{
  color: #B3B9C9;
}
.tabs .tab.active{
  transform: translateY(-.4rem);
}
.tabs .tab.active::after{
  content: '';
  width: 4rem;
  border-bottom: .4rem solid;
  margin: 0 auto;
  transform: translateY(.4rem);
  border-color: #00CCCC;
  display: block;
}


.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}
.custom-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

.animate_popping{
  animation: popping forwards infinite 1s ease ;
  animation-play-state: running;
  transition: all 1s ease;
}
@keyframes popping {
  0%{transform: scale(.8); opacity: .7;}
  50%{transform: scale(1.1); opacity: 1;}
  100%{transform: scale(.8); opacity: .7;}
}
