#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem 0 */
}
*{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}

.note-hero{
  border-radius: 100%;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */

.dull_color{
  color: #B3B9C9;
}
.tabs .tab.active{
  transform: translateY(-.4rem);
}
.tabs .tab.active::after{
  content: '';
  width: 4rem;
  border-bottom: .4rem solid;
  margin: 0 auto;
  transform: translateY(.4rem);
  border-color: #00CCCC;
  display: block;
}

